/**
===========================
Template: Zirox - Creative Digital Agency HTML Template
File: Default Styles
Author: ultraDevs
Author URI: https://themeforest.net/user/ultradevs
Description: Zirox - Creative Digital Agency HTML Template
Version: 1.0.0
===========================

Note: This file contains the styles for the full template. You can edit the styles of the template from here.

Default Styles

Table of Contents
01/ Variables
02/ Mixins
03/ Fonts
04/ Common
05/ Header

====================================
**/


/*------------------------------------
	01/ Variables
------------------------------------*/
@import "abstracts/variables";

/*------------------------------------
	02/ Mixins
------------------------------------*/
@import "abstracts/mixins";

/*------------------------------------
	03/ Fonts
------------------------------------*/
@import "base/fonts";

/*------------------------------------
	04/ Common
------------------------------------*/
@import "base/common";

/*------------------------------------
	05/ Header
------------------------------------*/
@import "header/header";
